* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 15px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.header a {
  display: flex;
  align-items: center;
}
.header a img {
  max-width: 120px;
}
.header .social-links a {
  display: inline-block;
}
.header .social-links a:not(:last-child) {
  margin-right: 24px;
}
.header .social-links a img {
  max-width: 20px;
  height: auto;
}
/*nav menu start*/
.navigation-menu {
  display: flex;
  align-self: stretch;
}
.navigation-menu ul {
  display: flex;
  list-style: none;
}
.navigation-menu ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 25px;
}
.navigation-menu ul a {
  text-decoration: none;
}
.navigation-menu > ul > li > a {
  color: #1f2e35;
  font-size: 1rem;
}
.navigation-menu > ul > li.has-submenu > a:after {
  display: flex;
  content: "";
  width: 15px;
  height: 10px;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-image: url(./assets/icons/chevron_down.svg);
}
/*21 Feb Start*/
@media (min-width: 768px) {
  .navigation-menu > ul > li > ul {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    min-width: 100%;
    background: #eee;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
    transition: 0.3s all ease;
  }
  .navigation-menu > ul > li > ul > li {
    padding: 8px;
  }
  .navigation-menu > ul > li > ul > li > a {
    font-size: 0.8rem;
    color: #1f2e35;
  }
  .navigation-menu > ul > li:hover ul {
    opacity: 100%;
    visibility: visible;
  }
  .hamburger {
    display: none;
  }
}
@media (max-width: 767px) {
  .social-links {
    display: none;
  }
  .navigation-menu {
    position: absolute;
    right: -300px;
    top: 100%;
    height: 100vh;
    width: 300px;
    padding: 10px;
    background: #30444e;
    box-shadow: -4px 0px 10px 5px rgb(0 0 0 / 25%);
    transition: 0.3s all ease;
  }
  .navigation-menu ul {
    flex-direction: column;
    width: 100%;
  }
  .navigation-menu ul li {
    flex-wrap: wrap;
    padding: 8px 16px;
  }
  .navigation-menu ul li a {
    width: 100%;
    color: #fafafa;
  }
  .navigation-menu > ul > li.has-submenu > a:after {
    filter: brightness(0) invert(1);
  }
  .navigation-menu.show {
    right: 0;
  }
  .navigation-menu > ul > li > ul {
    display: none;
    margin: 8px 0 16px;
  }
  .navigation-menu > ul > li.has-submenu.show > ul {
    display: flex;
  }
}
/*nav menu end*/
