.navigation-menu {
    ul {
        display: flex;
        li.nav-item {
            a {
                ul {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}
